<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

    <form  action='/login' method="post">
    <h1> Email: </h1>  <input type="text"  name="username">
    <h1> Password: </h1>  <input type="text"  name="password">
    <input type="submit" id="Log In" name="submit">
    </form>

  </body>
</html>
